<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeHome</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>All of my stuff</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Show All Items</string>
			<key>UIApplicationShortcutItemType</key>
			<string>all</string>
		</dict>
	</array>
</dict>
</plist>
